{
  "presets": ["react-native"],
  "plugins": [
    ["babel-root-import", [{
      "rootPathPrefix": "backward",
      "rootPathSuffix": "dist/src/backward"
    }, {
      "rootPathSuffix": "dist/src"
    }]]
  ]
}
