{
  "presets": ["react-native"],
  "plugins": [
    ["babel-root-import", [{
      "rootPathPrefix": "backward", // `~` is the default so you can remove this if you want
      "rootPathSuffix": "dist/src/backward/index"
    }]]
  ]
}
