# @generated: @expo/next-adapter@2.1.0
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# debug
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# misc
.DS_Store
.env*

.next

# @generated: @expo/next-adapter@2.1.52
/.expo/*
# Expo Web
/web-build/*
# Expo Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
# Next.js
/.next/*
/out/
# Next.js production
/build/
# Next.js dependencies
/.pnp
.pnp.js
# @end @expo/next-adapter
